<div class="user-panel-container">
  <div class="user-panel-container-icon">
    <img class="big-user-photo"
         *ngIf="mainPhotoUrl" alt="default-avatar"
         [src]="mainPhotoUrl">
    <img class="big-user-photo"
         *ngIf="!(mainPhotoUrl)" alt="default-avatar"
         src="../../../../../assets/images/default-avatar.webp">
  </div>
  <div class="user-panel-container-data">
    <p>{{user?.firstName}} {{user?.lastName}}</p>
    <fa-icon
      *ngIf="user?.role == RoleConstants.ADMIN"
      [icon]="admin">
    </fa-icon>
    {{user?.description}}
  </div>
</div>
