<div class="user-panel-container">
  <div class="user-panel-container-icon">
    <img *ngIf="mainPhotoUrl"
         [src]="mainPhotoUrl" alt="default-avatar"
         class="big-user-photo">
    <img *ngIf="!(mainPhotoUrl)"
         alt="default-avatar" class="big-user-photo"
         src="../../../../../assets/images/default-avatar.webp">
  </div>
  <div class="user-panel-container-data">
    <p>{{user?.firstName}} {{user?.lastName}}</p>
    <fa-icon
      *ngIf="user?.role == RoleConstants.ADMIN"
      [icon]="admin">
    </fa-icon>
    {{user?.description}}
  </div>
</div>
