<div class="comment-card">
  <a
    class="user-name-anchor"
     routerLink="/user/{{comment?.author?.id}}">
    <div class="comment-card__user-icon">
      <img alt="default-avatar" src="../../../../../assets/images/default-avatar.webp">
    </div>
    <div class="comment-card__user-data">
      {{comment?.author?.firstName}} {{comment?.author?.lastName}}
    </div>
  </a>
  <div class="options comment-card__options">
    <fa-icon
      (click)="displayOptions = !displayOptions"
      [icon]="bar"
      class="dropdown-menu__icon">
    </fa-icon>
    <div class="dropdown-menu block"
         [ngStyle]="{'display': displayOptions ? 'block' : 'none' }">
      <a
        (click)="onEdit()"
        *ngIf="comment?.author?.id==authService.getJWTTokenData()?.userId"
        class="item">
        <span>Edit</span>
      </a>
      <a
        (click)="onDelete()"
        *ngIf="comment?.author?.id==authService.getJWTTokenData()?.userId"
        class="item">
        <span>Delete</span>
      </a>
    </div>
  </div>

  <p *ngIf="!editMode" class="comment-card__content">{{comment?.content}}</p>
  <form *ngIf="editMode" [formGroup]="editCommentForm" (ngSubmit)="onConfirmEdit()">
    <input
      formControlName="content"
      placeholder="content"
      required>
    <button
      type="submit">
      Confirm
    </button>
    <button
      (click)=onCancelEdit()>
      Cancel
    </button>
  </form>
  <div class="comment-card__panel__data">
    <fa-icon
      (click)="onLikeComment()"
      [icon]="thumbsUp"
      [ngStyle]="{'color': comment?.reactionsData?.reactionType === ReactionConstants.LIKE ? 'green' : 'black'}"
      class="options comment-card__panel__data__item">
    </fa-icon>
    <p class="comment-card__panel__data__item">{{comment?.reactionsData?.amountOfLikes}}</p>
    <fa-icon
      (click)="onDislikeComment()"
      [icon]="thumbsDown"
      [ngStyle]="{'color': comment?.reactionsData?.reactionType === ReactionConstants.DISLIKE ? 'red' : 'black'}"
      class="options comment-card__panel__data__item">
    </fa-icon>
    <p class="comment-card__panel__data__item">{{comment?.reactionsData?.amountOfDislikes}}</p>
  </div>
</div>
