<div class="postcard">
  <div class="postcard__header">
    <a class="postcard__user__link user-name-anchor" routerLink="/user/{{post?.authorId}}">
      <div class="postcard__user-icon">
        <img alt="default-avatar" src="../../../../../assets/images/default-avatar.webp">
      </div>
      <div class="postcard__user-data">
        {{post?.author?.firstName}} {{post?.author?.lastName}} {{post?.author?.role}}
      </div>
    </a>
    <div class="options comment-card__options">
      <fa-icon
        (click)="displayOptions = !displayOptions"
        [icon]="bar"
        class="dropdown-menu__icon">
      </fa-icon>
      <div class="dropdown-menu block"
        [ngStyle]="{'display': displayOptions ? 'block' : 'none' }">
        <a
          (click)="onEditPost()"
          *ngIf="post?.author?.id==authService.getJWTTokenData()?.userId"
          class="item">
          <span>Edit</span>
        </a>
        <a
          (click)="onDeletePost()"
          *ngIf="post?.author?.id==authService.getJWTTokenData()?.userId"
          class="item">
          <span>Delete</span>
        </a>
      </div>
    </div>
  </div>
  <div
    *ngIf="!editMode"
    class="postcard__content">
    <h3 class="postcard__content__title">
      {{post?.title}}
    </h3>
    <p class="postcard__content__content">
      {{post?.content}}
    </p>
  </div>
  <form *ngIf="editMode" [formGroup]="editPostForm" (ngSubmit)="onConfirmEditPost()">
    <input
      formControlName="title"
      placeholder="Title"
      required>
    <input
      formControlName="content"
      placeholder="Content"
      required>
    <button
      type="submit">
      Confirm
    </button>
    <button
      type="button"
      (click)="onCancelEditPost()">
      Cancel
    </button>
  </form>
  <div class="postcard__panel">
    <div class="postcard__panel__data">
      <fa-icon
        class="options postcard__panel__data__item"
        (click)="onLikePost()"
        [ngStyle]="{'color': post?.reactionsData?.reactionType === ReactionConstants.LIKE ? 'green' : 'black'}"
        [icon]="thumbsUp">
      </fa-icon>
      <p class="postcard__panel__data__item">{{post?.reactionsData?.amountOfLikes}}</p>
      <fa-icon
        class="options postcard__panel__data__item"
        (click)="onDislikePost()"
        [ngStyle]="{'color': post?.reactionsData?.reactionType === ReactionConstants.DISLIKE ? 'red' : 'black'}"
        [icon]="thumbsDown">
      </fa-icon>
      <p class="postcard__panel__data__item">{{post?.reactionsData?.amountOfDislikes}}</p>
    </div>
  </div>
  <div class="postcard__comments">
    <form
      #CommentForm="ngForm"
      (ngSubmit)="onCreateComment()">
      <input
        id="content"
        name="content"
        ngModel
        placeholder="Create a comment"
        required>
      <button
        [disabled]="CommentForm.invalid"
        class="btn"
        type="submit">
        Create
      </button>
      <button
        [disabled]="CommentForm.invalid"
        (click)="onClearForm()"
        class="btn"
        type="button">
        Cancel
      </button>
    </form>
    <app-comment-card *ngFor="let comment of post?.comments?.slice(0,numberOfComments)"
                      [comment]="comment"
                      (deleteComment)="onDeleteComment($event)"></app-comment-card>

    <p class="postcard__comments--display-more"
      *ngIf="canDisplayMoreComments"
      (click)="onShowMoreComments()">
      Display more comments
    </p>
  </div>
</div>
