<div class="postcard">
  <div class="postcard__header">
    <a class="postcard__user__link user-name-anchor" routerLink="/user/{{post?.authorId}}">
      <div class="postcard__user-icon">
        <img *ngIf="mainPhotoUrl" [src]="mainPhotoUrl" alt="default-avatar" class="little-user-photo">
        <img *ngIf="!(mainPhotoUrl)" alt="default-avatar" class="little-user-photo"
             src="../../../../../assets/images/default-avatar.webp">
      </div>
      <div class="postcard__user-data">
        {{post?.author?.firstName}} {{post?.author?.lastName}}
        <fa-icon
          *ngIf="post?.author?.role == RoleConstants.ADMIN"
          [icon]="admin">
        </fa-icon>
      </div>
    </a>
    <div class="options comment-card__options">
      <fa-icon
        (click)="displayOptions = !displayOptions"
        [icon]="bar"
        class="dropdown-menu__icon">
      </fa-icon>
      <div [ngStyle]="{'display': displayOptions ? 'block' : 'none' }"
           class="dropdown-menu block">
        <a
          (click)="onEditPost()"
          *ngIf="post?.author?.id==authService.getJWTTokenData()?.userId"
          class="item">
          <span>Edit</span>
        </a>
        <a
          (click)="onDeletePost()"
          *ngIf="post?.author?.id==authService.getJWTTokenData()?.userId"
          class="item">
          <span>Delete</span>
        </a>
      </div>
    </div>
  </div>
  <div
    *ngIf="!editMode"
    class="postcard__content">
    <h3 class="postcard__content__title">
      {{post?.title}}
    </h3>
    <p class="postcard__content__content">
      {{post?.content}}
    </p>
  </div>
  <form (ngSubmit)="onConfirmEditPost()" *ngIf="editMode" [formGroup]="editPostForm">
    <input
      formControlName="title"
      placeholder="Title"
      required>
    <input
      formControlName="content"
      placeholder="Content"
      required>
    <button
      type="submit">
      Confirm
    </button>
    <button
      (click)="onCancelEditPost()"
      type="button">
      Cancel
    </button>
  </form>
  <div class="postcard__panel">
    <div class="postcard__panel__data">
      <fa-icon
        (click)="onLikePost()"
        [icon]="thumbsUp"
        [ngStyle]="{'color': post?.reactionsData?.reactionType === ReactionConstants.LIKE ? 'green' : 'black'}"
        class="options postcard__panel__data__item">
      </fa-icon>
      <p class="postcard__panel__data__item">{{post?.reactionsData?.amountOfLikes}}</p>
      <fa-icon
        (click)="onDislikePost()"
        [icon]="thumbsDown"
        [ngStyle]="{'color': post?.reactionsData?.reactionType === ReactionConstants.DISLIKE ? 'red' : 'black'}"
        class="options postcard__panel__data__item">
      </fa-icon>
      <p class="postcard__panel__data__item">{{post?.reactionsData?.amountOfDislikes}}</p>
    </div>
  </div>
  <div class="postcard__comments">
    <form
      #CommentForm="ngForm"
      (ngSubmit)="onCreateComment()">
      <input
        id="content"
        name="content"
        ngModel
        placeholder="Create a comment"
        required>
      <button
        [disabled]="CommentForm.invalid"
        class="btn"
        type="submit">
        Create
      </button>
      <button
        (click)="onClearForm()"
        [disabled]="CommentForm.invalid"
        class="btn"
        type="button">
        Cancel
      </button>
    </form>
    <app-comment-card (deleteComment)="onDeleteComment($event)"
                      *ngFor="let comment of post?.comments?.slice(0,numberOfComments)"
                      [comment]="comment"></app-comment-card>

    <p (click)="onShowMoreComments()"
       *ngIf="canDisplayMoreComments"
       class="postcard__comments--display-more">
      Display more comments
    </p>
  </div>
</div>
