<header>
  <nav>
    <div class="navbar">
      <ul class="navbar__list">
        <li class="navbar__list-item">
          <a routerLink="/home">
            <fa-icon
              [icon]="home">
            </fa-icon>
          </a>
        </li>
        <li class="navbar__list-item">
          <a>
            <fa-icon
              [icon]="search">
            </fa-icon>
          </a>
        </li>
        <li class="navbar__list-item">
          <a routerLink="/account">
            <fa-icon
              [icon]="user">
            </fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
