<p>message-panel works!</p>
<form #MessageForm="ngForm" (ngSubmit)="onSendMessage()" [formGroup]="messageForm">
  <input
    formControlName="content"
    placeholder="Send a message">
  <button
    [disabled]="MessageForm.invalid"
    type="submit">
    Send
  </button>
</form>
<app-message-card *ngFor="let message of messages.slice(0,numberOfMessages)"
                  [message]="message"></app-message-card>
<p (click)="numberOfMessages = numberOfMessages+5"
   *ngIf="numberOfMessages < messages.length"
   class="message-card__show-more">
  Show more messages
</p>
