<app-header></app-header>
<aside></aside>
<main>
  <form (ngSubmit)="onSearch()" [formGroup]="searchForm">
    <input
      formControlName="request"
      placeholder="Write something"
      required>
    <button
      type="submit">
      Search
    </button>
  </form>
  <nav>
    <ul>
      <li>
        <a queryParamsHandling="merge"
           routerLink="/search/user">Users</a>
      </li>
      <li>
        <a queryParamsHandling="merge"
           routerLink="/search/friend">Friends</a>
      </li>
      <li>
        <a queryParamsHandling="merge"
           routerLink="/search/post">Posts</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>
<aside></aside>
