.friend-card:first-child {
  margin: 2rem 0.2rem 0.2rem 0.2rem;
}

.friend-card {
  display: flex;
  margin: 0.2rem 0.2rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.friend-card__image,
.friend-card__data {
  display: inline-block;
  vertical-align: middle;
}

.friend-card__image {
  width: 40px;
  margin: 0.2rem;
}

.friend-card__message-icon {
  text-align: right;
  vertical-align: center;
}

.message-window {
  width: 100%;
}

.message-input {
  font-size: 0.7rem;
  width: 95%;
  margin: auto;
}

.message-content {
  font-size: 0.7rem;
}

.animate {
  transition: all 0.5s ease-in-out;
}

@keyframes fa-blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.is-offline {
  display: none;
}

.is-online {
  display: inline-block;
  animation: fa-blink 1.5s linear infinite;
  color: green;
}
