<div class="friend-card">
  <div class="friend-card__main">
  <a routerLink="/user/{{friend?.id}}">
    <img alt="default-avatar" class="friend-card__image" src="../../../../../assets/images/default-avatar.webp">
    <p class="friend-card__data">
      {{friend?.firstName}} {{friend?.lastName}}
      <fa-icon
      class="is-offline"
      [class.is-online]="(connectionService.connectedUserIds$ | async)?.includes(String(friend?.id).toString())"
      [icon]="faDotCircle"></fa-icon></p>
  </a>
  </div>
</div>
