.friend-card:first-child {
  margin: 2rem 0.2rem 0.2rem 0.2rem;
}

.friend-card {
  display: flex;
  margin: 0.2rem 0.2rem;
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.friend-card__image,
.friend-card__data {
  display: inline-block;
  vertical-align: middle;
}

.friend-card__image {
  width: 40px;
  margin: 0.2rem;
}

#message-icon {
  vertical-align: middle;
}
