<div class="postcard">
    <div class="postcard__header">
        <div class="postcard__user-icon">
            <img src="../../../../../assets/images/default-avatar.webp" alt="default-avatar">
        </div>
        <div class="postcard__user-data">
            <a class="postcard__user-data__link" routerLink="/user/{{post?.authorId}}">
                {{post?.author?.firstName}} {{post?.author?.lastName}} {{post?.author?.role}}
            </a>
        </div>  
    </div>

    <div class="postcard__content">
        <h3 class="postcard__content__title">
            {{post?.title}}
        </h3>
        <p class="postcard__content__content">
            {{post?.content}}
        </p>
    </div>
</div>
