<div class="account-panel-container">
  <div class="account-panel-container-icon">
    <img class="big-user-photo"
         *ngIf="mainPhotoUrl" alt="default-avatar"
         [src]="mainPhotoUrl">
    <img class="big-user-photo"
         *ngIf="!(mainPhotoUrl)" alt="default-avatar"
         src="../../../../../assets/images/default-avatar.webp">
  </div>
  <div class="options account-panel__options">
    <fa-icon
      (click)="displayOptions = !displayOptions"
      [icon]="bar"
      class="dropdown-menu__icon">
    </fa-icon>
    <div class="dropdown-menu block"
         [ngStyle]="{'display': displayOptions ? 'block' : 'none' }">
      <a
        routerLink="/account/edit"
        class="item">
        <span>Edit</span>
      </a>
    </div>
  </div>
  <div class="account-panel-container-data">
    <p>{{account?.firstName}} {{account?.lastName}}</p>
    {{account?.description}}
  </div>
