<div class="account-panel-container">
  <div class="account-panel-container-icon">
    <img *ngIf="mainPhotoUrl"
         [src]="mainPhotoUrl" alt="default-avatar"
         class="big-user-photo">
    <img *ngIf="!(mainPhotoUrl)"
         alt="default-avatar" class="big-user-photo"
         src="../../../../../assets/images/default-avatar.webp">
  </div>
  <div class="options account-panel__options">
    <fa-icon
      (click)="displayOptions = !displayOptions"
      [icon]="bar"
      class="dropdown-menu__icon">
    </fa-icon>
    <div [ngStyle]="{'display': displayOptions ? 'block' : 'none' }"
         class="dropdown-menu block">
      <a
        class="item"
        routerLink="/account/edit">
        <span>Edit</span>
      </a>
    </div>
  </div>
  <div class="account-panel-container-data">
    <p>{{account?.firstName}} {{account?.lastName}}</p>
    {{account?.description}}
  </div>
