<div class="quickpost">
  <h1>
    Create a post!
  </h1>
  <form
    #QuickPostForm="ngForm"
    (ngSubmit)="onCreateQuickPost()"
    [formGroup]="quickPostForm">
    <input
      class="quick-post__form__input"
      formControlName="title"
      placeholder="Title"
      required>
    <input
      class="quick-post__form__input"
      formControlName="content"
      placeholder="Content"
      required>
    <button
      [disabled]="QuickPostForm.invalid"
      class="btn"
      type="submit">
      Create
    </button>
    <button
      [disabled]="QuickPostForm.invalid"
      class="btn"
      type="reset">
      Cancel
    </button>
  </form>
</div>
