<div class="form-wrapper">
  <form
    #CreatePostForm="ngForm"
    (ngSubmit)="onCreatePost()"
    [formGroup]="createPostForm">
    <input
      formControlName="title"
      id="title"
      placeholder="Title"
      type="text">
    <input
      formControlName="content"
      id="content"
      placeholder="Content"
      type="text">
    <button
      class="btn"
      type="submit">
      Create
    </button>
    <button
      (click)="onCancel()"
      class="btn"
      type="button">
      Cancel
    </button>
  </form>
</div>
