<div class="form-wrapper">
    <form 
        #CreatePostForm="ngForm" 
        [formGroup]="createPostForm" 
        (ngSubmit)="onCreatePost()">
        <input 
            id="title"
            type="text"
            formControlName="title"
            placeholder="Title">
        <input
            id="content"
            type="text"
            formControlName="content"
            placeholder="Content">
        <button 
            type="submit"
            class="btn">
            Create
        </button>
        <button
            (click)="onCancel()"
            type="button"
            class="btn">
            Cancel
        </button>
    </form>
</div>
