<div class="form-wrapper">
    <form #LoginForm ="ngForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h5>
            Email
        </h5>
        <input
            formControlName="email"
            placeholder="Email">
        <h5>
            Password
        </h5>
        <input
            formControlName="password"
            placeholder="Password">
        <a>
            I forgot my password
        </a>
        <button class="btn" type="submit">
            Log in
        </button>
        <h5>
            Dont have an account?
        </h5>
        <button class="btn" type="button" (click)="onSignup()">
            Sign up
        </button>
    </form>
</div>
