<div class="form-wrapper">
    <form 
        #LoginForm ="ngForm" 
        [formGroup]="loginForm" 
        (ngSubmit)="onLogin()">
        <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email"
            [class.invalid]="loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.touched ||
                loginForm.get('email')?.dirty ||
                isSubmitted)">
        <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
            [class.invalid]="loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.touched ||
                loginForm.get('password')?.dirty ||
                isSubmitted)">
        <button 
            id="login-button"
            class="btn" 
            type="submit">
            Log in
        </button>
        <a>
            Forgotten your password?
        </a>
    </form>
    <hr>
    <h5>
        Dont have an account?
    </h5>
    <button 
        class="btn" 
        type="button" 
        (click)="onSignup()">
        Sign up
    </button>
</div>