<div class="form-wrapper">
    <form 
        #EditAccountForm="ngForm" 
        [formGroup]="editAccountForm" 
        (ngSubmit)="onEditAccount()">
        <button
            id="delete-account-button" 
            type="button" 
            (click)="onDelete()">
            Delete
        </button>
        <input  
            id="firstname"
            type="text"
            formControlName="firstName"
            placeholder="First name">
        <input 
            id="lastname"
            type="text"
            formControlName="lastName"
            placeholder="Last name">
        <input 
            id="phonenumber"
            type="text"
            formControlName="phoneNumber"
            placeholder="Phone number">
        <textarea 
            id="description"
            formControlName="description"
            placeholder="Share yourself! 
Add your description."
            rows="4"
            cols="60">
        </textarea>
        <input 
            id="facebookurl"
            type="text"
            formControlName="facebookURL"
            placeholder="Facebook URL">
        <input  
            id="instagramurl"
            type="text"
            formControlName="instagramURL"
            placeholder="Instagram URL">
        <input 
            id="linkedinurl"
            type="text"
            formControlName="linkedInURL"
            placeholder="LinkedIn URL">
        <input 
            id="tiktokurl"
            type="text"
            formControlName="tikTokURL"
            placeholder="TikTok URL">
        <input 
            id="youtubeurl"
            type="text"
            formControlName="youTubeURL"
            placeholder="YouTube URL">
        <input 
            id="twitterurl"
            type="text"
            formControlName="twitterURL"
            placeholder="Twitter URL">
        <label>
            Address
        </label>
        <div 
            formGroupName="address">
            <input
                id="localnumber"
                type="text"
                formControlName="localNumber">
            <input 
                id="buildingnumber"
                type="text"
                formControlName="buildingNumber">
            <input
                id="street"
                type="text"
                formControlName="street"
                placeholder="Street">
            <input 
                id="zipcode"
                type="text"
                formControlName="zipCode"
                placeholder="Zip Code">
            <input
                id="city"
                type="text"
                formControlName="city"
                placeholder="City">
            <input 
                id="region"
                type="text"
                formControlName="region"
                placeholder="Region">
            <input 
                id="country"
                type="text"
                formControlName="country"
                placeholder="Country">
        </div>
        <button 
            type="submit">
            Save
        </button>
        <button 
            type="button" 
            (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>
