<div class="form-wrapper">
  <form
    #EditAccountForm="ngForm"
    (ngSubmit)="onEditAccount()"
    [formGroup]="editAccountForm">
    <button
      (click)="onDelete()"
      id="delete-account-button"
      type="button">
      Delete
    </button>
    <input
      formControlName="firstName"
      id="firstname"
      placeholder="First name"
      type="text">
    <input
      formControlName="lastName"
      id="lastname"
      placeholder="Last name"
      type="text">
    <input
      formControlName="phoneNumber"
      id="phonenumber"
      placeholder="Phone number"
      type="text">
    <textarea
      cols="60"
      formControlName="description"
      id="description"
      placeholder="Share yourself!
Add your description."
      rows="4">
        </textarea>
    <input
      formControlName="facebookURL"
      id="facebookurl"
      placeholder="Facebook URL"
      type="text">
    <input
      formControlName="instagramURL"
      id="instagramurl"
      placeholder="Instagram URL"
      type="text">
    <input
      formControlName="linkedInURL"
      id="linkedinurl"
      placeholder="linkedInURL"
      type="text">
    <input
      formControlName="tikTokURL"
      id="tiktokurl"
      placeholder="TikTok URL"
      type="text">
    <input
      formControlName="youTubeURL"
      id="youtubeurl"
      placeholder="YouTube URL"
      type="text">
    <input
      formControlName="twitterURL"
      id="twitterurl"
      placeholder="Twitter URL"
      type="text">
    <label>
      Address
    </label>
    <div
      formGroupName="address">
      <input
        formControlName="localNumber"
        id="localnumber"
        type="text">
      <input
        formControlName="buildingNumber"
        id="buildingnumber"
        type="text">
      <input
        formControlName="street"
        id="street"
        placeholder="Street"
        type="text">
      <input
        formControlName="zipCode"
        id="zipcode"
        placeholder="Zip Code"
        type="text">
      <input
        formControlName="city"
        id="city"
        placeholder="City"
        type="text">
      <input
        formControlName="region"
        id="region"
        placeholder="Region"
        type="text">
      <input
        formControlName="country"
        id="country"
        placeholder="Country"
        type="text">
    </div>

    <button
      type="submit">
      Save
    </button>
    <button
      (click)="onCancel()"
      type="button">
      Cancel
    </button>
    <div class="photo-panel">
    <app-account-photo-card *ngFor="let photo of account?.userPhotos"
                            [photo]="photo"
                            (deletePhoto)="onDeletePhoto($event)"
                            (setMainPhoto)="onSetMainPhoto($event)"></app-account-photo-card>
  </div>
    <div class="uploader">

      <h3>Select files</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
        Base drop zone
      </div>

      Single
      <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
        <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
          <th>Progress</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
          <td *ngIf="uploader.options.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
            </div>
          </td>
          <td class="text-center">
            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
          </td>
          <td nowrap>
            <button type="button" class="btn btn-success btn-xs"
                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
              <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-xs"
                    (click)="item.cancel()" [disabled]="!item.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    (click)="item.remove()">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>
    </div>
  </form>
</div>
